.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.page__main,
.page__favorites-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.page__main--offer {
  flex-direction: column;
}

.offer__map {
  width: 100vw;
}

.footer {
  margin-top: auto;
}

